.loading-dots {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    color: black; 
}

.loading-dots span {
    display: inline-block;
    animation: blink 1.5s infinite;
}

.loading-dots span:nth-child(1) {
    animation-delay: 0s;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.3s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
